<?xml version="1.0" encoding="utf-8"?>
<!-- Grundgerüst der Applikation -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tobias.a01helloworld"
    android:versionCode="1"
    android:versionName="1.0">


    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- Beschreibt die Start-Activity der Applikation -->
        <activity
            android:name=".MainActivity"
            android:label="LabelDerApp">
            <!-- Kommunikator zwischen Activity und Gerät -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>